<%- include ('partials/header.ejs'); -%>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form  action="/addPlayer" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="number" class="form-control" name="number" id="number" placeholder="Number" required>
                </div>
                <div  class="form-group col-md-6">
                    <input type="number" step="0.1" class="form-control" name="zscore" id="zscore" placeholder="Z-Score" required>
                </div>
                <div class="form-group col-md-6">
                    <select id="position" name="position" class="form-control" required>
                        <option selected disabled>Choose position</option>
                        <option>Guard</option>
                        <option>Forward</option>
                        <option>Center</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select id="team" name="team" class="form-control" required>
                        <option selected disabled>Choose team</option>
                      <% teams.forEach((team) => { %>
                        <option value="<%= team.name %>" > <%=team.name %> </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Player</button>
        </form>
    </div>
</div>
</body>
</html>

<!--INSERT INTO PlayerPlaysFor values(3, 3, 30, "Lebron James", "F", 4);-->

