<%- include ('partials/header.ejs'); -%>
<div class="table-wrapper">
    <form action="/addTeam/" method="post">
        <label for="city_name" class="text-info font-weight-bold">&nbsp;&nbsp;City: </label>
        <input id="city_name" type="text" name="city" value="">
        <label for="city_name" class="text-info font-weight-bold">&nbsp;&nbsp;Team Name: </label>
        <input id="team_name" type="text" name="team" value="">
        <label for="city_name" class="text-info font-weight-bold">&nbsp;&nbsp;Country: </label>
        <input id="country_name" type="text" name="country" value="">
        <label for="city_name" class="text-info font-weight-bold">&nbsp;&nbsp;Arena: </label>
        <input id="arena_name" type="text" name="arena" value="">
        <input type="submit" value="OK">
    </form>
</div>
</div>
</body>
</html>